*.dylib filter=lfs diff=lfs merge=lfs -text
/AwakeVR/Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
/AwakeVR/Library/Bee/artifacts/objcopy_5lmi/libil2.cpp.dbg.so filter=lfs diff=lfs merge=lfs -text
