body {
    font-family: Arial, sans-serif;
    background-color: #7BAFD4; /* Carolina Blue background */
    color: #FFFFFF;
    text-align: center;
}

.container {
    background-color: #FFFFFF; /* White background for form */
    color: #333333; /* Dark text for readability */
    border-radius: 4px;
    margin: auto;
    padding: 20px; /* Add padding to create space for the circle */
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center items horizontally */
}

.logo-container {
    position: relative;
    text-align: center;
}

.logo-background {
    background-color: #FFFFFF;
    border-radius: 50%;
    width: 142.5px; /* Calculate 95% of 150 pixels and set as fixed width */
    height: 142.5px; /* Calculate 95% of 150 pixels and set as fixed height */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.logo {
    width: 150px;
    position: relative;
    z-index: 1;
}

/* Update the CSS for the form elements */
.input-container {
    display: flex;
    flex-direction: row; /* Arrange elements side by side */
    justify-content: center; /* Center elements horizontally */
    align-items: center; /* Center elements vertically */
    width: 30%; /* Set the width to 30% of the container */
}

input[type="text"] {
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 30%; /* Set the width to 30% of the container */
}

button[type="submit"] {
    margin-top: 10px; /* Add spacing below the dish input */
    padding: 10px 20px;
    border: none;
    background-color: #7BAFD4; /* Carolina Blue background */
    color: #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
}
